<h3>Add a place</h3>

<form action="POST">
    
<label for="placeName">Place name</label>
<input type="text" id="placeName" name="name" placeholder="Add name">

<label for="placeType">Type</label>
<input type="text" id="placeType" name="type" placeholder="Add a type">
<button>Submit</button>
</form>