<h3>Update place</h3>

<form method="POST">
    
<label for="placeName">Place name</label>
<input type="text" id="placeName" name="name" placeholder="{{place.name}}">

<label for="placeType">Type</label>
<input type="text" id="placeType" name="type" placeholder="{{place.type}}">
<button>Submit changes </button>
</form>